[Unit]
Description=SIAT Log

[Service]
Type=oneshot
ExecStart=/opt/SIAT-MonitoringClient/send start
ExecStop=/opt/SIAT-MonitoringClient/send stop
ExecReload=/opt/SIAT-MonitoringClient/send restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

